name: 'Check PR'

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

permissions:
  pull-requests: write
  issues: write

jobs:
  check-pr:
    name: Review PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Auto-approve PR
        uses: hmarr/auto-approve-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          review-message: 'Fan va fett :rocket:'
